$black:      #414440;
$grey:       #A1A4A0;
$grey-dark:  #717470;
$grey-light: #D1D4D0;
$white:      #FFFFFF;
$white-off:  #F1F4F0;

html {
    min-height: 100%;
    font-size: 14px;
    @media (min-width: 1300px) {
        font-size: 100%;
    }
}

body {
    min-height: 100%;
    margin: 0;
    background: $grey-dark;
    color: $white;
    font-family: Roboto, sans-serif;
    line-height: 1.5rem;
    -webkit-font-feature-settings: "dlig", "kern", "liga";
       -moz-font-feature-settings: "dlig", "kern", "liga";
        -ms-font-feature-settings: "dlig", "kern", "liga";
         -o-font-feature-settings: "dlig", "kern", "liga";
            font-feature-settings: "dlig", "kern", "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media (min-width: 850px) {
        background-image: url("../images/sarah.jpg");
        background-position: center bottom;
        background-size: cover;
        background-attachment: fixed;
        text-shadow: 0 1px 3px rgba(0,0,0,0.25);
    }
}

a {
    background-image: linear-gradient(180deg, transparent 0%, transparent 50%, $grey-light 50%, $grey-light 100%);
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: $white;
    text-decoration: none;
    transition: color 0.05s linear;
    &:focus, &:hover {
        color: $white-off;
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: 1px 1px;
    }
}

p {
    margin: 0 0 1.5rem;
    max-width: 45rem;
}

ul {
    margin: 0.75rem 0 1.5rem 1.5rem;
    padding: 0;
}

li {
    max-width: 36.5rem;
}

h2 {
    margin: 0;
    color: $white;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.site-header {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
            justify-content: space-between;
    background-color: $white;
    background-image: linear-gradient(180deg, transparent 0%, transparent 50%, $grey-light 50%, $grey-light 100%);
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: 1px 1px;
    }
    a {
        transition: opacity 0.05s linear;
        &:focus, &:hover {
            opacity: 0.8;
        }
    }
}

.site-title {
    margin: 0;
    font-size: 1rem;
    line-height: 1rem;
    a {
        display: inline-block;
        height: 3rem;
        width: 12.625rem;
        margin: 2.25rem 3rem;
        background-image: url('../images/logo.svg');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 12.625rem 3rem;
        text-indent: -9999rem;
        @media (max-width: 600px) {
            // width: 3rem;
            margin: 0.75rem 1.5rem;
        }
    }
}

.site-nav {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: flex-end;
        -ms-justify-content: flex-end;
            justify-content: flex-end;
    margin: 0 2.25rem 0 0;
    padding: 0;
    list-style: none;
    @media (max-width: 600px) {
        margin: 0 1.225rem 0 0;
    }
}

.site-nav__item {
    a {
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        padding: 3em 0.75em;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 1.5rem 1.5rem;
        line-height: 1rem;
        text-indent: -9999rem;
        @media (max-width: 600px) {
            padding: 1.5em 0.375em;
        }
    }
}

.site-nav__item--email {
    @extend .site-nav__item;
    a {
        background-image: url('../images/email.svg');
    }
}

.site-nav__item--facebook {
    @extend .site-nav__item;
    a {
        background-image: url('../images/facebook.svg');
    }
}

.site-nav__item--twitter {
    @extend .site-nav__item;
    a {
        background-image: url('../images/twitter.svg');
    }
}

.site-main {
    padding: 3rem;
    color: $white;
    @media (max-width: 600px) {
        padding: 1.5rem;
    }
}

.lead {
    color: $white;
    font-size: 1.2rem;
}