<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sentia Yoga</title>
    <meta name="author" content="Sarah Robinson">
    <meta name="description" content="Professional yoga instructor in Bath, UK.">
    <meta name="keywords" content="sentia, yoga, bath, sarah robinson, yogi, hatha">
    <meta property="og:author" content="https://www.facebook.com/sentiayoga">
    <meta property="og:description" content="Professional yoga instructor in Bath, UK.">
    <meta property="og:image" content="http://sentiayoga.com/og.png">
    <meta property="og:site_name" content="Sentia Yoga">
    <meta property="og:title" content="Sentia Yoga">
    <meta property-"og:type" content="website">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" sizes="300x300" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
    <style>{% capture styles %}{% include styles.scss %}{% endcapture %}{{ styles | scssify }}</style>
</head>

<body>